*{
    margin:0;
    padding: 0;
}
#principal{
    font-family: Arial, Helvetica, sans-serif;
}
.main_header{
    padding: 15px;
    background-color: #1D1D1D;
    overflow: auto;
}
.main_header img{
    float: left;
}
.main_header nav ul{
    float: right;
    margin-top: 15px;
    text-align: right;
}
.menu{
    list-style: none;
    border: 1px solid white;
    display: inline-block;
    border-radius: 15px;
}
.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.menu a:hover {
    background-color: #736D61;
}
.clear{
    clear: both;
}
body{
    background-color: #CAC0A4;
    clear: both;
}
main{
    clear: both;
    width: 40%;
    margin: auto;
    background-color: #f7efdb;
    border-radius: 15px;
    padding-left: 15px;
}
.formulario{
    margin-top: 15px;
}
fieldset{
    border: none;
}
input, select, textarea, button{
    border-radius: 5px;
}
.campo{
    line-height: 2;
}
.campo input[type="text"], .campo input[type="email"], .campo input[type="number"], .campo input[type="date"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid #231F14;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    display: block;
}

.botao{
    margin-top: 15px;
    padding: 7px;
    font-size: 1.2em;
    background: #231F14;
    border: 0;
    margin-bottom: 1em;
    color: white;
}
.botao:hover{
    background: #070605;
}

/* Animações */
main{
    animation: fade 500ms;
}
form{
    overflow: hidden;
}
form .campo:nth-child(1){
    animation: move 500ms;
    animation-fill-mode: backwards;
}
form .campo:nth-child(2){
    animation: move 500ms ;
    animation-delay: 50ms;
    animation-fill-mode: backwards;
}
form .campo:nth-child(3){
    animation: move 500ms ;
    animation-delay: 100ms;
    animation-fill-mode: backwards;
}
form .campo:nth-child(4){
    animation: move 500ms ;
    animation-delay: 150ms;
    animation-fill-mode: backwards;
}
form .campo:nth-child(5){
    animation: move 500ms ;
    animation-delay: 200ms;
    animation-fill-mode: backwards;
}

@keyframes move{

    from{
        opacity: 0;
        transform:translateX(-35%);
    }to{
        opacity: 1;
        transform: translateX(0);
    }   

}
@keyframes fade{

    from{
        opacity: 0;
        transform: scale(0.9);
    }to{
        opacity: 1;
        transform: scale(1);
    }

}