*/ Zerando todas as configurações  */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30;
}

.cabecalho-img{
    height: 72px;
}

.cabecalho-menu{
    display: flex;
    gap: 40px;
}

.cabecalho-menu-itens{
    font-family: Lucida Sans Regular;
    color: black;
    font-weight: 500;
    font-size: 25px;
}

.grupo-pai{
    display: flex;
    flex-flow: wrap;
    padding: 10px;
    margin-left: 19%;   
}

.p1{
    display: block;
}

div{
    display: block;
    padding: 5px 5px ;
    
}

.rot{
    font-size: 14px;
}

.sx{
    width: 40px;
}